#####################################################################
# Sample env file - RENAME THIS FILE to '.env' after modification
#####################################################################

#
# debugging true|false
#
PHOSSA_DEBUG=true

#
# App environment
#
PHOSSA_ENV=dev

#
# app root directory, default to current dir
#
PHOSSA_ROOT=${PWD}

#
# central configuration directory
#
PHOSSA_CONFIG=${PHOSSA_ROOT}/cloud/config

#
# public (webroot) directory
#
PHOSSA_PUBLIC=${PHOSSA_ROOT}/cloud/public

#
# shared runtime directory
#
PHOSSA_SHARED=${PHOSSA_ROOT}/cloud/shared

#
# system directory, for scripts etc.
#
PHOSSA_SYSTEM=${PHOSSA_ROOT}/cloud/system

#
# vendor directory
#
PHOSSA_VENDOR=${PHOSSA_ROOT}/cloud/vendor

#
# local temp directory
#
PHOSSA_TMPDIR=${PHOSSA_ROOT}/local/tmpdir

#
# application directory - where your application installed
#
PHOSSA_APPDIR=${PHOSSA_VENDOR}/my/app
