#####################################################################
# Sample env file - RENAME THIS FILE to '.env' after modification
#####################################################################

#
# app name, MODIFY THIS !!
#
PHOSSA_APPNAME=my/app

#
# App environment, change to 'prod' ON production server
#
PHOSSA_ENV=dev

#
# Language for developer, NOT for the application
#
#PHOSSA_LANG=zh_CN.UTF-8
PHOSSA_LANG=en_US.UTF-8

#####################################################################
# Normally, NO changes below
#####################################################################

#
# app root directory, default to current dir
#
PHOSSA_ROOT=${__DIR__}

#
# central configuration directory
#
PHOSSA_CONFIG=${PHOSSA_ROOT}/cloud/config

#
# public (webroot) directory
#
PHOSSA_PUBLIC=${PHOSSA_ROOT}/cloud/public

#
# shared runtime directory
#
PHOSSA_SHARED=${PHOSSA_ROOT}/cloud/shared

#
# system directory, for scripts etc.
#
PHOSSA_SYSTEM=${PHOSSA_ROOT}/cloud/system

#
# vendor directory
#
PHOSSA_VENDOR=${PHOSSA_ROOT}/cloud/vendor

#
# local temp directory
#
PHOSSA_TMPDIR=${PHOSSA_ROOT}/local/tmpdir

#
# application directory - where your application installed
#
PHOSSA_APPDIR=${PHOSSA_VENDOR}/${PHOSSA_APPNAME}
